In [1]:
def is_odd(n):
    return n%2 ==1

In [2]:
list(filter(is_odd,[1,2,4,5,6,9,10,15]))

[1, 5, 9, 15]

In [3]:
def not_empty(s):
    return s and s.strip()

In [4]:
list(filter(not_empty,['a','','b',None,'c',' ']))

['a', 'b', 'c']

In [5]:
#filter()函数返回的是一个Iterator，也就是一个惰性序列，所以要强迫filter（）完成计算结果，
#需要用list（）函数获得所有结果并返回list

In [6]:
def _odd_iter():
    n =1
    while True:
        n=n+2
        yield n

In [7]:
def _not_divisible(n):
    return lambda x:x%n >0

In [8]:
def primes():
    yield 2
    it = _odd_iter()
    while True:
        n= next(it)
        yield n
        it = filter(_not_divisible(n),it)

In [9]:
for n in primes():
    if n<1000:
        print(n)
    else:
        break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [16]:
def is_palindrome(n):
    return str(n)[:] == str(n)[::-1]

In [21]:
output = filter(is_palindrome, range(1, 10000))#把1000以内的数挨个放进去，返回正序和倒序一致的
print(list(output))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999, 1001, 1111, 1221, 1331, 1441, 1551, 1661, 1771, 1881, 1991, 2002, 2112, 2222, 2332, 2442, 2552, 2662, 2772, 2882, 2992, 3003, 3113, 3223, 3333, 3443, 3553, 3663, 3773, 3883, 3993, 4004, 4114, 4224, 4334, 4444, 4554, 4664, 4774, 4884, 4994, 5005, 5115, 5225, 5335, 5445, 5555, 5665, 5775, 5885, 5995, 6006, 6116, 6226, 6336, 6446, 6556, 6666, 6776, 6886, 6996, 7007, 7117, 7227, 7337, 7447, 7557, 7667, 7777, 7887, 7997, 8008, 8118, 8228, 8338, 8448, 8558, 8668, 8778, 8888, 8998, 9009, 9119, 9229, 9339, 9449, 9559, 9669, 9779, 9889, 9999]

In [18]:
n ='123456'

In [19]:
n[::-1]#::-1即倒序取数，频率为1

'654321'

In [20]:
n[::-2]#::-2即倒序取数，频率为2

'642'