In [1]:
def f(x):
    return x*x

In [2]:
r =map(f,[1,2,3,4,5,6,7,8,9])

In [3]:
r

In [4]:
list(r)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
list(map(str,[1,2,3,4,5,6,7,8,9]))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [6]:
reduce(f,[x1,x2,x3,x4])=f(f(f(x1,x2),x3),x4)

SyntaxError: can't assign to function call (<ipython-input-6-d099dbd55f9a>, line 1)

In [7]:
from functools import reduce

In [8]:
def add(x,y):
    return x+y

In [9]:
reduce(add,[1,3,5,7,9])

25

In [10]:
def fn(x,y):
    return x*10+y

In [11]:
reduce(fn,[1,3,5,7,9])

13579

In [14]:
def char2num(s):
    return {'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9}[s]

In [15]:
reduce(fn,map(char2num,'13579'))

13579

In [16]:
def str2int(s):
    def fn(x,y):
        return x*10+y
    def char2num(s):
        return {'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9}[s]
    return reduce(fn,map(char2num,s))

In [18]:
str2int('13579')

13579

In [19]:
def char2num(s):
        return {'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9}[s]

In [21]:
def str2int(s):
    return reduce(lambda x,y:x*10+y,map(char2num,s))

In [23]:
str2int('123456')

123456

In [28]:
def normalize(name):
    name =name.lower() 
    name=name[0].upper()+name[1:]
    return name

In [29]:
normalize('ALISSA')

'Alissa'

In [30]:
L1 = ['adam', 'LISA', 'barT']
L2 = list(map(normalize, L1))
print(L2)

['Adam', 'Lisa', 'Bart']

In [36]:
def prod(L):
    return reduce(lambda x,y:x*y,L)

In [37]:
print('3 * 5 * 7 * 9 =', prod([3, 5, 7, 9]))

3 * 5 * 7 * 9 = 945