In [1]:
def enroll(name,gender):
    print('name:',name)
    print('gender:',gender)

In [2]:
enroll('Saral','F')

name: Saral
gender: F

In [3]:
def enroll(name,gender,age=6,city ='Beijing'):
    print('name:',name)
    print('gender:',gender)
    print('age:',age)
    print('city:',city)

In [4]:
enroll('Saral','F')

name: Saral
gender: F
age: 6
city: Beijing

In [5]:
enroll('Bob','M',7)

name: Bob
gender: M
age: 7
city: Beijing

In [6]:
enroll('Adam','M',city='Tianjin')

name: Adam
gender: M
age: 6
city: Tianjin

In [7]:
def add_end(L=None):
    if L is None:
        L=[]
    L.append('END')
    return L

In [8]:
add_end()

['END']

In [9]:
add_end()

['END']

In [10]:
def calc(numbers):
    sum=0
    for n in numbers:
        sum=sum+n*n
    return sum

In [11]:
calc([1,2,3])

14

In [12]:
calc((1,3,5,7))

84

In [13]:
calc(1,2,3)

TypeError: calc() takes 1 positional argument but 3 were given

In [14]:
def calc(*numbers):
    sum=0
    for n in numbers:
        sum=sum+n*n
    return sum

In [15]:
calc(1,2,3)

14

In [16]:
calc(1,3,5,7)

84

In [17]:
calc()

0

In [18]:
calc(1,2)

5

In [19]:
nums=[1,2,3]

In [20]:
calc(*nums)

14

In [22]:
def person(name,age,**kw):
    print('name:',name,'age:',age,'other:',kw)

In [23]:
person('Mike',30)

name: Mike age: 30 other: {}

In [24]:
person('Bob',35,city='BEIJING')

name: Bob age: 35 other: {'city': 'BEIJING'}

In [25]:
person('Adam',45,gender='M',job='Engineer')

name: Adam age: 45 other: {'gender': 'M', 'job': 'Engineer'}

In [26]:
def person(name,age,**kw):
    if 'city'in kw:
        pass
    if 'job' in kw:
        pass
    print('name:',name,'age:',age,'other:',kw)

In [28]:
person('JACK',24,city='beijing',addr='chaoyang',zipcode=123456)

name: JACK age: 24 other: {'city': 'beijing', 'addr': 'chaoyang', 'zipcode': 123456}

In [29]:
def person(name,age,*,city,job):
    print(name,age,city,job)

In [31]:
person('JACK',24,city='beijing',job='Engineer')

JACK 24 beijing Engineer

In [32]:
def person(name,age,*args,city,job):
    print(name,age,args,city,job)

In [33]:
person('jack',24,'beijing','engineer')

TypeError: person() missing 2 required keyword-only arguments: 'city' and 'job'